# Core FS
CONFIG_EXT4_FS=y
CONFIG_SQUASHFS=y
CONFIG_OVERLAY_FS=y
CONFIG_TMPFS=y
# disable common unused fs
CONFIG_BTRFS_FS=n
CONFIG_XFS_FS=n
CONFIG_F2FS_FS=n
CONFIG_NFS_FS=n
CONFIG_CIFS=n

# Perf + containers
CONFIG_ZRAM=y
CONFIG_ZSMALLOC=y
CONFIG_CRYPTO_LZ4=y
CONFIG_LZ4_COMPRESS=y
CONFIG_LZ4_DECOMPRESS=y
CONFIG_CGROUPS=y
CONFIG_CGROUP_BPF=y
CONFIG_CGROUP_SCHED=y
CONFIG_NAMESPACES=y
CONFIG_USER_NS=y
CONFIG_PID_NS=y
CONFIG_NET_NS=y
CONFIG_UTS_NS=y
CONFIG_IPC_NS=y

# CPU/perf
CONFIG_CPU_FREQ=y
CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE=y
CONFIG_HZ_1000=y

# disable debug
CONFIG_DEBUG_KERNEL=n
CONFIG_FTRACE=n

CONFIG_MODULES=n
CONFIG_STACKPROTECTOR=n
CONFIG_STACKPROTECTOR_STRONG=n

